body {
	 background-color: #9900FF;
	 color: white;
	 font-family: 'Indie Flower', cursive;
	 font-size: 25px;
	 text-align: center;
}

@media (max-width: 320px) {
    html { 
    	background: red; 
    }
}

@media (min-width: 1024px) {
	html {
		background: pink;
	}
}

@media screen and (max-width: 2000px) {
	html {
		background: #9900FF;
	}
}

